// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$light-100: #f8f9fa !default;
$light-200: #EFEDE9 !default;
$light-300: #dee2e6 !default;
$light-400: #DAD6CE !default;
$light-500: #adb5bd !default;
$light-600: #868e96 !default;
$light-700: #615843 !default;
$light-800: #978372 !default;
$light-900: rgb(191,165,163) !default;
$primary:  #E66E30 !default;